## Script for cleaning and transforming data

In [1]:
import pandas as pd
from plotly import express as px
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,classification_report
from sklearn.preprocessing import normalize
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [2]:
df = pd.read_csv(r"C:\Users\goret\Desktop\APC Cas Kaggle\sigma_cabs.csv")
df

,Trip_ID,Trip_Distance,Type_of_Cab,Customer_Since_Months,Life_Style_Index,Confidence_Life_Style_Index,Destination_Type,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Gender,Surge_Pricing_Type
0,T0005689460,6.77,B,1.0,2.42769,A,A,3.90500,0,40.0,46,60,Female,2
1,T0005689461,29.47,B,10.0,2.78245,B,A,3.45000,0,38.0,56,78,Male,2
2,T0005689464,41.58,NaN,10.0,NaN,NaN,E,3.50125,2,NaN,56,77,Male,2
3,T0005689465,61.56,C,10.0,NaN,NaN,A,3.45375,0,NaN,52,74,Male,3
4,T0005689467,54.95,C,10.0,3.03453,B,A,3.40250,4,51.0,49,102,Male,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131657,T0005908509,11.72,D,1.0,2.74229,A,A,3.28500,0,61.0,47,76,Male,3
131658,T0005908510,74.81,C,7.0,2.81059,C,A,0.44500,0,NaN,63,88,Male,2
131659,T0005908512,40.17,C,10.0,2.99565,B,A,3.33625,0,NaN,48,75,Female,2
131660,T0005908513,46.88,B,4.0,3.04744,A,B,4.15750,1,47.0,54,79,Male,2
131661,T0005908514,31.96,A,7.0,2.93773,A,E,2.63875,1,102.0,57,85,Male,1

In [3]:
# detect missing values in the given series object

df.isnull().sum()

Trip_ID                            0
Trip_Distance                      0
Type_of_Cab                    20210
Customer_Since_Months           5920
Life_Style_Index               20193
Confidence_Life_Style_Index    20193
Destination_Type                   0
Customer_Rating                    0
Cancellation_Last_1Month           0
Var1                           71030
Var2                               0
Var3                               0
Gender                             0
Surge_Pricing_Type                 0
dtype: int64

In [4]:
df["Type_of_Cab"].value_counts()
df["Type_of_Cab"] = df["Type_of_Cab"].fillna("F")

In [5]:
df["Life_Style_Index"].value_counts()
df["Life_Style_Index"].describe()

count    111469.000000
mean          2.802064
std           0.225796
min           1.596380
25%           2.654730
50%           2.798050
75%           2.946780
max           4.875110
Name: Life_Style_Index, dtype: float64

In [6]:
df["Confidence_Life_Style_Index"].value_counts()

B    40355
C    35967
A    35147
Name: Confidence_Life_Style_Index, dtype: int64

In [7]:
df = df.dropna(subset=["Life_Style_Index"])
df.isnull().sum()

Trip_ID                            0
Trip_Distance                      0
Type_of_Cab                        0
Customer_Since_Months           5063
Life_Style_Index                   0
Confidence_Life_Style_Index        0
Destination_Type                   0
Customer_Rating                    0
Cancellation_Last_1Month           0
Var1                           60099
Var2                               0
Var3                               0
Gender                             0
Surge_Pricing_Type                 0
dtype: int64

In [8]:
sum = 0
count = 0
avg = 0
for  i in df["Customer_Since_Months"].value_counts().iteritems():
    count += i[1]
    sum += i[0]*i[1]
avg = round(sum/count,0)
df["Customer_Since_Months"] = df["Customer_Since_Months"].fillna(avg)

<ipython-input-8-aa2efa21c6a7>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Customer_Since_Months"] = df["Customer_Since_Months"].fillna(avg)

In [9]:
df["Var1"] = df["Var1"].fillna(25)

<ipython-input-9-fe1f30d46909>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Var1"] = df["Var1"].fillna(25)

In [10]:
df.isnull().sum()

Trip_ID                        0
Trip_Distance                  0
Type_of_Cab                    0
Customer_Since_Months          0
Life_Style_Index               0
Confidence_Life_Style_Index    0
Destination_Type               0
Customer_Rating                0
Cancellation_Last_1Month       0
Var1                           0
Var2                           0
Var3                           0
Gender                         0
Surge_Pricing_Type             0
dtype: int64

In [11]:
# ara mateix tenim 0 missing values en la BBDD

In [12]:
df

,Trip_ID,Trip_Distance,Type_of_Cab,Customer_Since_Months,Life_Style_Index,Confidence_Life_Style_Index,Destination_Type,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Gender,Surge_Pricing_Type
0,T0005689460,6.77,B,1.0,2.42769,A,A,3.90500,0,40.0,46,60,Female,2
1,T0005689461,29.47,B,10.0,2.78245,B,A,3.45000,0,38.0,56,78,Male,2
4,T0005689467,54.95,C,10.0,3.03453,B,A,3.40250,4,51.0,49,102,Male,2
6,T0005689470,29.72,E,10.0,2.83958,C,B,2.97500,1,83.0,50,75,Male,2
7,T0005689472,18.44,B,2.0,2.81871,B,A,3.58250,0,103.0,46,63,Male,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131657,T0005908509,11.72,D,1.0,2.74229,A,A,3.28500,0,61.0,47,76,Male,3
131658,T0005908510,74.81,C,7.0,2.81059,C,A,0.44500,0,25.0,63,88,Male,2
131659,T0005908512,40.17,C,10.0,2.99565,B,A,3.33625,0,25.0,48,75,Female,2
131660,T0005908513,46.88,B,4.0,3.04744,A,B,4.15750,1,47.0,54,79,Male,2
131661,T0005908514,31.96,A,7.0,2.93773,A,E,2.63875,1,102.0,57,85,Male,1

In [13]:
# A one-hot encoding can be applied to the integer representation. 
# This is where the integer encoded variable is removed and a new binary variable is added 
# for each unique integer value.

def one_hot_encoding(column):
    df = pd.get_dummies(column,drop_first=True)
    return df

# La funciÃ³n get_dummies permite eliminar la primera de las columnas generadas 
# para cada caracterÃ­stica codificada para evitar la denominada colinealidad 
# (que una de las caracterÃ­sticas sea una combinaciÃ³n lineal de las otras), 
# lo que dificulta el correcto funcionamiento de los algoritmos.

Type_Of_Cab = one_hot_encoding(df["Type_of_Cab"])
Confidence_Life_Style_Index = one_hot_encoding(df["Confidence_Life_Style_Index"])
Destination_Type = one_hot_encoding(df["Destination_Type"])
Gender = one_hot_encoding(df["Gender"])
Type_Of_Cab = Type_Of_Cab.rename(columns={'B': 'Type_Of_Cab_B','C': 'Type_Of_Cab_C','D': 'Type_Of_Cab_D','E': 'Type_Of_Cab_E','F': 'Type_Of_Cab_F'})
Confidence_Life_Style_Index = Confidence_Life_Style_Index.rename(columns = {"B":"Confidence_Life_Style_Index_B","C":"Confidence_Life_Style_Index_C"})
Destination_Type = Destination_Type.rename(columns = {'B':'Destination_Type_B','C':'Destination_Type_C','D':'Destination_Type_D','E':'Destination_Type_E','F':'Destination_Type_F','G':'Destination_Type_G','H':'Destination_Type_H','I':'Destination_Type_I','J':'Destination_Type_J','K':'Destination_Type_K','L':'Destination_Type_L','M':'Destination_Type_M','N':'Destination_Type_N'})
print("Columns name changed Succesfully.")

Columns name changed Succesfully.

In [14]:
df_one_hot_encoded = pd.concat([df,Type_Of_Cab,Confidence_Life_Style_Index,Destination_Type,Gender], axis=1)
df_one_hot_encoded

,Trip_ID,Trip_Distance,Type_of_Cab,Customer_Since_Months,Life_Style_Index,Confidence_Life_Style_Index,Destination_Type,Customer_Rating,Cancellation_Last_1Month,Var1,...,Destination_Type_F,Destination_Type_G,Destination_Type_H,Destination_Type_I,Destination_Type_J,Destination_Type_K,Destination_Type_L,Destination_Type_M,Destination_Type_N,Male
0,T0005689460,6.77,B,1.0,2.42769,A,A,3.90500,0,40.0,...,0,0,0,0,0,0,0,0,0,0
1,T0005689461,29.47,B,10.0,2.78245,B,A,3.45000,0,38.0,...,0,0,0,0,0,0,0,0,0,1
4,T0005689467,54.95,C,10.0,3.03453,B,A,3.40250,4,51.0,...,0,0,0,0,0,0,0,0,0,1
6,T0005689470,29.72,E,10.0,2.83958,C,B,2.97500,1,83.0,...,0,0,0,0,0,0,0,0,0,1
7,T0005689472,18.44,B,2.0,2.81871,B,A,3.58250,0,103.0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131657,T0005908509,11.72,D,1.0,2.74229,A,A,3.28500,0,61.0,...,0,0,0,0,0,0,0,0,0,1
131658,T0005908510,74.81,C,7.0,2.81059,C,A,0.44500,0,25.0,...,0,0,0,0,0,0,0,0,0,1
131659,T0005908512,40.17,C,10.0,2.99565,B,A,3.33625,0,25.0,...,0,0,0,0,0,0,0,0,0,0
131660,T0005908513,46.88,B,4.0,3.04744,A,B,4.15750,1,47.0,...,0,0,0,0,0,0,0,0,0,1
131661,T0005908514,31.96,A,7.0,2.93773,A,E,2.63875,1,102.0,...,0,0,0,0,0,0,0,0,0,1

In [15]:
# ara normalitzem

In [16]:
cols_to_drop = ["Trip_ID","Type_of_Cab","Confidence_Life_Style_Index","Destination_Type","Gender"]
df_final = df_one_hot_encoded.drop(cols_to_drop,axis = 1)


cols_to_be_normalized = ['Trip_Distance', 'Customer_Since_Months', 'Life_Style_Index','Customer_Rating', 'Cancellation_Last_1Month', 'Var1', 'Var2', 'Var3']
cols_not_to_be_normalized = ['Type_Of_Cab_B', 'Type_Of_Cab_C', 'Type_Of_Cab_D', 'Type_Of_Cab_E','Type_Of_Cab_F', 
                            'Confidence_Life_Style_Index_B','Confidence_Life_Style_Index_C', 'Destination_Type_B',
                            'Destination_Type_C', 'Destination_Type_D', 'Destination_Type_E',
                            'Destination_Type_F', 'Destination_Type_G', 'Destination_Type_H',
                            'Destination_Type_I', 'Destination_Type_J', 'Destination_Type_K',
                            'Destination_Type_L', 'Destination_Type_M', 'Destination_Type_N',
                            'Male','Surge_Pricing_Type']

In [17]:
normalize = normalize(df_final[cols_to_be_normalized])
normalize = pd.DataFrame(normalize,columns=cols_to_be_normalized)
binarized = df_final[cols_not_to_be_normalized].reset_index()
df_final =  pd.concat([normalize,binarized], axis=1)

df_final

,Trip_Distance,Customer_Since_Months,Life_Style_Index,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,index,Type_Of_Cab_B,...,Destination_Type_G,Destination_Type_H,Destination_Type_I,Destination_Type_J,Destination_Type_K,Destination_Type_L,Destination_Type_M,Destination_Type_N,Male,Surge_Pricing_Type
0,0.078785,0.011637,0.028252,0.045444,0.000000,0.465495,0.535319,0.698242,0,1,...,0,0,0,0,0,0,0,0,0,2
1,0.273009,0.092640,0.025777,0.031961,0.000000,0.352031,0.518783,0.722590,1,1,...,0,0,0,0,0,0,0,0,1,2
2,0.403322,0.073398,0.022273,0.024974,0.029359,0.374330,0.359650,0.748660,4,0,...,0,0,0,0,0,0,0,0,1,2
3,0.234846,0.079019,0.022438,0.023508,0.007902,0.655861,0.395097,0.592646,6,0,...,0,0,0,0,0,0,0,0,1,2
4,0.141184,0.015313,0.021581,0.027429,0.000000,0.788611,0.352195,0.482354,7,1,...,0,0,0,0,0,0,0,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111464,0.107606,0.009181,0.025178,0.030161,0.000000,0.560065,0.431526,0.697786,131657,0,...,0,0,0,0,0,0,0,0,1,3
111465,0.557730,0.052187,0.020954,0.003318,0.000000,0.186382,0.469683,0.656066,131658,0,...,0,0,0,0,0,0,0,0,1,2
111466,0.396043,0.098592,0.029535,0.032893,0.000000,0.246479,0.473240,0.739437,131659,0,...,0,0,0,0,0,0,0,0,0,2
111467,0.401885,0.034291,0.026125,0.035641,0.008573,0.402913,0.462922,0.677238,131660,1,...,0,0,0,0,0,0,0,0,1,2
111468,0.215646,0.047232,0.019822,0.017805,0.006747,0.688231,0.384600,0.573526,131661,0,...,0,0,0,0,0,0,0,0,1,1

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111469 entries, 0 to 131661
Data columns (total 14 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Trip_ID                      111469 non-null  object
 1   Trip_Distance                111469 non-null  float64
 2   Type_of_Cab                  111469 non-null  object
 3   Customer_Since_Months        111469 non-null  float64
 4   Life_Style_Index             111469 non-null  float64
 5   Confidence_Life_Style_Index  111469 non-null  object
 6   Destination_Type             111469 non-null  object
 7   Customer_Rating              111469 non-null  float64
 8   Cancellation_Last_1Month     111469 non-null  int64
 9   Var1                         111469 non-null  float64
 10  Var2                         111469 non-null  int64
 11  Var3                         111469 non-null  int64
 12  Gender                       111469 non-null  object
 13  Surge_Pricing_Type           111469 non-null  int64
dtypes: float64(5), int64(4), object(5)
memory usage: 12.8+ MB

In [19]:
# Converting Categorical values to Numerical Values
cleanup_nums = {"Type_of_Cab": {"A": 1, "B": 2, "C": 3, "D": 4, "E": 5, "F": 6, "G":7},
                "Confidence_Life_Style_Index": {"A": 1, "B": 2, "C": 3},
                "Destination_Type": {'A': 1, 'E': 5, 'B': 2, 'C': 3, 'G': 7, 'D': 4, 'F': 6, 'K': 11, 'L': 12, 'H': 8, 'I': 9, 'J': 10, 'M': 13,'N': 14},
                "Gender" :{'Male': 1, "Female": 2}}

df = df.replace(cleanup_nums)
df

,Trip_ID,Trip_Distance,Type_of_Cab,Customer_Since_Months,Life_Style_Index,Confidence_Life_Style_Index,Destination_Type,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Gender,Surge_Pricing_Type
0,T0005689460,6.77,2,1.0,2.42769,1,1,3.90500,0,40.0,46,60,2,2
1,T0005689461,29.47,2,10.0,2.78245,2,1,3.45000,0,38.0,56,78,1,2
4,T0005689467,54.95,3,10.0,3.03453,2,1,3.40250,4,51.0,49,102,1,2
6,T0005689470,29.72,5,10.0,2.83958,3,2,2.97500,1,83.0,50,75,1,2
7,T0005689472,18.44,2,2.0,2.81871,2,1,3.58250,0,103.0,46,63,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131657,T0005908509,11.72,4,1.0,2.74229,1,1,3.28500,0,61.0,47,76,1,3
131658,T0005908510,74.81,3,7.0,2.81059,3,1,0.44500,0,25.0,63,88,1,2
131659,T0005908512,40.17,3,10.0,2.99565,2,1,3.33625,0,25.0,48,75,2,2
131660,T0005908513,46.88,2,4.0,3.04744,1,2,4.15750,1,47.0,54,79,1,2
131661,T0005908514,31.96,1,7.0,2.93773,1,5,2.63875,1,102.0,57,85,1,1

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111469 entries, 0 to 131661
Data columns (total 14 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Trip_ID                      111469 non-null  object
 1   Trip_Distance                111469 non-null  float64
 2   Type_of_Cab                  111469 non-null  int64
 3   Customer_Since_Months        111469 non-null  float64
 4   Life_Style_Index             111469 non-null  float64
 5   Confidence_Life_Style_Index  111469 non-null  int64
 6   Destination_Type             111469 non-null  int64
 7   Customer_Rating              111469 non-null  float64
 8   Cancellation_Last_1Month     111469 non-null  int64
 9   Var1                         111469 non-null  float64
 10  Var2                         111469 non-null  int64
 11  Var3                         111469 non-null  int64
 12  Gender                       111469 non-null  int64
 13  Surge_Pricing_Type           111469 non-null  int64
dtypes: float64(5), int64(8), object(1)
memory usage: 12.8+ MB

In [21]:
df = df.drop(columns = ['Trip_ID'])

In [22]:
df

,Trip_Distance,Type_of_Cab,Customer_Since_Months,Life_Style_Index,Confidence_Life_Style_Index,Destination_Type,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Gender,Surge_Pricing_Type
0,6.77,2,1.0,2.42769,1,1,3.90500,0,40.0,46,60,2,2
1,29.47,2,10.0,2.78245,2,1,3.45000,0,38.0,56,78,1,2
4,54.95,3,10.0,3.03453,2,1,3.40250,4,51.0,49,102,1,2
6,29.72,5,10.0,2.83958,3,2,2.97500,1,83.0,50,75,1,2
7,18.44,2,2.0,2.81871,2,1,3.58250,0,103.0,46,63,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
131657,11.72,4,1.0,2.74229,1,1,3.28500,0,61.0,47,76,1,3
131658,74.81,3,7.0,2.81059,3,1,0.44500,0,25.0,63,88,1,2
131659,40.17,3,10.0,2.99565,2,1,3.33625,0,25.0,48,75,2,2
131660,46.88,2,4.0,3.04744,1,2,4.15750,1,47.0,54,79,1,2
131661,31.96,1,7.0,2.93773,1,5,2.63875,1,102.0,57,85,1,1